header {
  background-color: whitesmoke;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 200px;
}

.ul-menu {
  list-style: none;
}

li {
  font-weight: 700;
  font-size: medium;
  padding: 1px;

}

a {
  text-decoration: none;
  color: inherit;

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.banners {
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}

.banners-img {
  width: 600px;
}

